body#tinymce, body#acf-hero_text{
  height: auto; // Fix editor style bug
  max-width: $grid-row-width; // Give the editor a max-width
  padding: rem-calc(20) !important;
  background-color: $white;
  background-image: none;
}
